<div class = "container dealdetails round">
	<%= image_tag(@deal.image_url) %>
	<h1><%= @deal.title %></h1>
	<p><%= @deal.text %></p>
	<table>	
		<tr>
			<td>More details</td>
			<td>
				<%= form_tag(deal_path + "?id=#{@deal.id}&is_redirect=true", :method => "post") do %>
				  <%= submit_tag "Click" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Price</td>
			<td><%= @deal.formatted_price %>
		</tr>
		<tr>
			<td>Views</td>
			<td><%= @deal.views %></td>
		</tr>
		<tr>
			<td>Redirects</td>
			<td><%= @deal.redirects %></td>
		</tr>
		<tr>
			<td>Expires on</td>
			<td><%= @deal.end_at.to_s %></td>
		</tr>
	</table>
</div>