<div class = "container dealdetails round">
<h1><%= @deal.title %></h1>
	<%= image_tag(@deal.image_url) %>
	<p><%= @deal.text %></p>
	<table>	
		<tr>
			<td>More details</td>
			<td><%= link_to "Click",  @deal.deal_url %></td>
		</tr>
		<tr>
			<td>Price</td>
			<td><%= @deal.price.format unless @deal.price = "" %>
		</tr>
		<tr>
			<td>Views</td>
			<td><%= @deal.views %></td>
		</tr>
	</table>
</div>
<div class = "container dealdetails round">
	You might also be interested in
	<% @coupons = Coupon
      .where("title != '#{@deal.title}' AND (to_tsvector('english', coalesce(title, '') || ' ' 
        || coalesce(text, '')) @@ to_tsquery('english','#{ parseQuery( getSomeWords_deal(@deal.title) ) }'))")
		.order("views DESC").limit(5)
	%>
	<div class="container round userdetail actions">
	<% @coupons.each do |c| %>
			<p><%= link_to( c.title, deal_path(:id => c.id) ) %></p></br>
	<% end %>
	</div>
</div>