<div id="js-container">
    <% @deals.each_with_index do |deal, i| %>

    <div class="js-image size-<%= @dims[i] %>" id = "div_<%= i %>"
            style="top: <%= @poz_top[i] %>px; left: <%= @poz_left[i] %>px;">   
        <%= link_to image_tag(deal.image_url, :alt => "Porcoupon", :class => "js-small-image"), 
            deal.porcoupon_url %>
        <div class="js-small-caption">
          <span><%= deal.title%></span>
        </div>
        <div class="js-overlay-caption-content">
          
          <h4><%= deal.title%></h4>
          <p>
            <%= deal.trimmed_text(200) %>
          </p>
          <%= link_to "Read more", deal.porcoupon_url %>
          
        </div>
    </div>
    <%end%>
</div>

<script type="text/javascript">
         
        $(document).ready(function() {          
            $('#js-container').jsquares({
                caption_height: 150
            });
        });
</script>

<input class ="formbutton" type="button" value="Reload all offers" onclick="btn_click()" style="position:absolute; right:50px; margin-top:-5em;" />
<br/>

<script type="text/javascript">
    function btn_click()
    {
        for(var i = 0; i < 16; i++)
            load(i);
    }

    /*
      Porcoupon ajax
    */
    function load(i)
      {       
        $.ajax({
            type: "POST",
            url: "/randomdeal?i="+i,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (args){
                $("#div_" + i).find(".js-small-caption > span").html(args.title);
                $("#div_" + i).find(".js-overlay-caption-content > h4").html(args.title);
                $("#div_" + i).find(".js-overlay-caption-content > p").html(args.text);
                $("#div_" + i).find(".js-small-image").attr('src', args.image_url);
            }
        });
    }
    
      function reloadDeal(i)
      {
        $("#div_"+i).animate({"opacity":"0"}, 200);
        $('.js-overlay-html').trigger('mouseout');
        load (i);
        $("#div_"+i).animate({"opacity":"1"}, 200);
        
      }       
 
</script>   