
<% if !@coupons.empty? then %>
	
	<%= will_paginate @coupons %>

	<% @coupons.each do |c| %>
		<div class="container round userdetail actions">
			<table><tr>
				<td><%= image_tag(c.image_url) %></td>
				<td>
				<h5><b><%= link_to( c.title, deal_path(:id => c.id) ) %></b></h5>
				<p><%= c.trimmed_text(400) %></p>
				<h5><b><%= link_to( "Read more!", deal_path(:id => c.id) ) %></b></h5>
				</td>
			</tr></table>
		</div>
	<% end %>

	<%= will_paginate @coupons %>

<% else %>
	<div class="container round userdetail actions">
		<p>No such coupons!</p>
	</div>
<% end %>

