
<script type="text/javascript">

	 $(document).ready(function() {          
            $(".advsearchbtn").click(function(){
	            if ($(".advancedsearch").is(":visible")) {
	            	$(".advancedsearch").hide();
	            } else {
	            	$(".advancedsearch").show();
	            }
            })
        });

</script>
<% if @tops.nil? %>
<input type="button" value="Advanced search" class="advsearchbtn formbutton">

<div class = "container advancedsearch" style="display:none;">
	<%= form_tag(search_path, :method => "get") do %>
		<%= label_tag(:search, "Search for:") %>
		<%= text_field_tag(:search, (params[:search] or "")) %>
		
		<%= label_tag(:advanced_search_city_id, "Select city:") %>
		<%= select(:advanced_search, :city_id, City.all.collect {|p|[p.name, p.id]}, {:include_blank => 'All cities', :selected => (!params[:advanced_search].blank? ? params[:advanced_search][:city_id] : 0)}) %>
		
		<%= label_tag(:advanced_search_category_id, "Select category:") %>
		<%= select(:advanced_search, :category_id, Category.all.collect {|p|[p.name, p.id]}, {:include_blank => 'All categories', :selected => (!params[:advanced_search].blank? ? params[:advanced_search][:category_id] : 0)}) %>
		</br>
		<%= submit_tag("Search") %>
	<% end %>
</div></br>
<%end%>
<% if !@tops.nil? %>
	<div class="topsdiv">
		<%= link_to "Most viewed", search_path+"?tops=views" %>
		<%= link_to "Most bought", search_path+"?tops=redirects" %>
	</div>
<% end %>

<% if !@coupons.empty? then %>
	<% if @tops.nil? %>
		<%= will_paginate @coupons %>
	<%end%>
	<br/>

	<% @coupons.each do |c| %>
		<div class="container round searchresult">
			
				<%= image_tag(c.image_url) %>
				
				<h5><b><%= link_to( c.title, deal_path(:id => c.id) ) %></b></h5>
				<span><%= c.trimmed_text(200) %></span>

				<h5 class="readmore"><b>
					<% if @tops.nil? %>
					<%= link_to( "Read more!", deal_path(:id => c.id) ) %>
					<%elsif @tops == :views %>
						Views: <%= c.views %>
					<%else %>
						Redirects: <%= c.redirects %>
					<%end%>
				</b></h5>
				
		</div>
	<% end %>
	<% if @tops.nil? %>
		<%= will_paginate @coupons %>
	<% end %>

<% else %>
	<div class="container round userdetail actions">
		<p>No such coupons!</p>
	</div>
<% end %>

