<header>
  <%= link_to logo, root_path %>
  <nav class="menu" >
    <ul class="cbdb-menu">
      <li ><%= link_to "Home", root_path, :class => "blue" %></li>
      <li ><%= link_to "Tops", tops_path+"?by=views", :class => "blue" %></li>
      <% if signed_in? %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Sign out", signout_path, :class => "red" %></li>
      <% else %>
        <li><%= link_to "Sign up", signup_path %></li>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
  <br/>
  <div class="search">
    <input type="text" /> <button type="button" class="yellow round" style="width: 100px;" >Search</button>
  <div>
</header>