<header>
 <!--  <%= link_to logo, root_path %> -->
  <!-- <div class="header"></div>
        <div class="scroll"></div> -->
        <ul id="navigation">
          <li> <%= link_to "Home", root_path, :class => "home" %><img src="home.png" style="width:80px;height:60px"/></li> 
          <li> <%= link_to "Offers", root_path, :class => "offers" %><img src="offers.png" style="width:80px;height:60px"/></li> 
          <li> <%= link_to "Home", root_path, :class => "home" %><img src="home.png" style="width:80px;height:60px"/></li> 
          <li> <%= link_to "Home", root_path, :class => "home" %><img src="home.png" style="width:80px;height:60px"/></li>
          <li> <%= link_to "Home", root_path, :class => "home" %><img src="home.png" style="width:80px;height:60px"/></li>           
          
        </ul>

        <script type="text/javascript">
            $(function() {
                $('#navigation a').stop().animate({'marginLeft':'-85px'},1000);

                $('#navigation > li').hover(
                    function () {
                        $('a',$(this)).stop().animate({'marginLeft':'-2px'},200);
                    },
                    function () {
                        $('a',$(this)).stop().animate({'marginLeft':'-85px'},200);
                    }
                );
            });
        </script>
  <div class="search">
    <input type="text" /> <button type="button" class="yellow round" style="width: 100px;" >Search</button>
  <!-- <div> -->
</header>
