<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(@title) %></title>
  <%= render 'layouts/stylesheets' %>
  <% if Rails.env.development? %>
  <%= javascript_include_tag "jquery-1.7.2.min" %>
  <%= javascript_include_tag "jquery.hoverintent.min" %>
  <%= javascript_include_tag "jquery.jsquares.min" %>
  <% else %>
  <%= javascript_include_tag "japplication" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'layouts/header' %>
	
	<section class="content">
    	<%= yield %> 
	</section>

	<%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
