<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(@title) %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<section class="round">
	        <% flash.each do |key, value| %>
	          <div class="flash <%= key %>"><%= value %></div>
	        <% end %>
	        <%= yield %>
     	 </section>
	</div>
	<%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
